.pokecard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: white;
    width: 15rem;
    height: 11rem;
    padding: .5rem;
    border-radius: 20px;
    filter: drop-shadow(0px 2px 3px #898994);
    margin-top: 3rem;
    cursor: pointer;
    z-index: 10;
}

.img-wrapper {
  margin-top: -5rem;
}

/* .types{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
} */

.card-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}

