/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.condensed {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    font-stretch: condensed;
    font-weight: bold;
}

.medium {
    font-family: 'Gill Sans Medium', sans-serif;
}

